<div class="crud-header">
<h1>crudstreet</h1>
<h4>by E</h4>
</div>
<div class="crud-div">
<h2>New post</h2>

<%= render "form", post: @post %>
<br>
<br>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
</div>
